/doc/paper.synctex.gz
/doc/paper.aux
/doc/paper.log
/doc/paper.pdf
/doc/paper.spl
/paper_resources/doc/paper.synctex.gz
/paper_resources/doc/paper.aux
/paper_resources/doc/paper.bbl
/paper_resources/doc/paper.blg
/paper_resources/doc/paper.log
/paper_resources/doc/paper.pdf
/paper_resources/doc/paper.spl
